body {
  margin: 0;
  background-color: #333;
}

.control-pad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .85);
  width: 240px;
  color: white;
  color: #333;
  -webkit-transition:left 0.3s ease;
     -moz-transition:left 0.3s ease;
       -o-transition:left 0.3s ease;
          transition:left 0.3s ease;
}

.control-pad.hide {
  left: -240px;
}

.control-pad .controls {
  margin: 25px 10px;
}

.control, .color-picker {
  padding: 0 10px 10px;
}

.color-picker p {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
  margin-bottom: 7px;
}

.control p{
  text-transform: uppercase;
  margin-bottom: 5px;
}

.control-toggle {
  position: absolute;
  background-color: rgba(255, 255, 255, .85);
  font-size: 23px;
  top: 0;
  right: -29px;
  border-radius: 0 0 5px;
  padding: 7px 9px 7px 7px;
  cursor: pointer;
}

.toggle {
  vertical-align: middle;
  display: inline-block;
  margin-top: -6px;
  padding-left: 9px;
}

.toggle input {
  width: 15px;
  height: 15px;
}

.toggle i {
  padding-left: 2px;
}

.github {
  position: absolute;
  bottom: 5px;
  right: 8px;
  text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
