body {
  margin: 0;
  background-color: #333;
}

.control-pad {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .85);
  width: 240px;
  color: white;
  color: #333;
}

.control-pad.hide {
  bottom: auto;
  width: auto;
}

.control-pad .controls {
  border-bottom: 1px solid #333;
  margin: 35px 10px 0;
}

.control, .color-picker {
  border-top: 1px solid #333;
  padding: 0 10px 10px;
}

.color-picker p {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
  margin-bottom: 7px;
}

.control p{
  text-transform: uppercase;
  margin-bottom: 5px;
}

.control-toggle {
  font-size: 23px;
  float: right;
  padding: 7px;
  cursor: pointer;
}

.control-pad.hide {
  border-radius: 0 0 5px;
}

.control-pad.hide .controls {
  display: none;
}

.toggle {
  vertical-align: middle;
  display: inline-block;
  margin-top: -6px;
  padding-left: 9px;
}

.toggle input {
  width: 15px;
  height: 15px;
}

.toggle i {
  padding-left: 2px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
